# earthwyrm.rules
#
# The .rules file determines how MVT files are created from an osm2pgsql
# database.
#
# Each rule has 4 (or more) columns that define how layers are built from
# tables, zoom level and tags.
#
# Columns
# =======
#
# Layer: Name of layer
#
# Table: polygon, line, roads or point
#
# Zoom: zoom level, in one of three formats:
#     - exact (ex. 5)
#     - range (ex. 8-12)
#     - minimum (ex. 10+)
#
# Tags: Whitespace separated tag patterns for the layer -- all must match for a
#       feature to be included.  Each pattern consists of up to 4 parts: rule,
#       key, equality, and value(s).  The only required part is the key.
#
#       Rule: controls how the key/values are matched/included:
#           . (period): match key/values and include them in the layer
#           ? (question mark): do not match key, but include in layer
#           (empty): match key/values, but do not include them in layer
#       Key: name of column in table
#       Equality: how to process values (must be paired with value list)
#           = (equal): value must be equal to an item in value list
#           != (not equal): value must be not equal to an item in list
#       Value(s): list of values, separated by | (vertical bar).  The null
#           value may be specified with _ (underscore).
#
#       Examples:
#           key=value
#           key=value1|value2
#           key!=value
#           key!=value|_
#           key              (same as key!=_)
#           .key             (same as .key!=_)
#           ?key             (same as ?key!=_)
#    If no pattern with key "name" is declared, the ?name pattern is implied.
#
# Layers
# ======
#
# Features within each layer will also contain osm_id (as sint tags).
#
# Layer       Table     Zoom  Tags
county        polygon   4-14  boundary=administrative admin_level=6 ?population
city          polygon    10+  boundary=administrative admin_level=8 ?population
leisure       polygon    13+  leisure
lake          polygon     5+  natural=water water=lake|oxbow
river         polygon     5+  natural=water water=river
water         polygon    12+  natural=water water!=lake|oxbow|river|pond
pond          polygon    14+  natural=water water=pond
basin         polygon    14+  landuse=basin
wetland       polygon    12+  natural=wetland
retail        polygon    14+  landuse=retail
motorway      roads       8+  highway=motorway|motorway_link
trunk         roads      10+  highway=trunk|trunk_link
primary       roads      11+  highway=primary|primary_link
secondary     roads      13+  highway=secondary|secondary_link
tertiary      roads      14+  highway=tertiary|tertiary_link
roads         line       15+  highway!=motorway|motorway_link|trunk|trunk_link|primary|primary_link|secondary|secondary_link|tertiary|tertiary_link|_
building      polygon    15+  building
parking       polygon    15+  amenity=parking
